auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

target: all

ingester:
  wal:
    dir: /loki/wal
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  max_transfer_retries: 0
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1 
    final_sleep: 0s

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v12
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem

  filesystem:
    directory: /loki/chunks

limits_config:
  retention_period: 168h  # 7 days

table_manager:
  retention_deletes_enabled: true
  retention_period: 168h
