@page "/cnx/usersearch"
@using FrontendWebassembly.Component.Special
@using FrontendWebassembly.Services.Auth.Shared
@inherits SecurePageBase
@using MudBlazor
@* cnx/usersearch *@
@attribute [RequirePermission(1, 3)]  

<PageTitle>Concentrix</PageTitle>

<h3>CNX</h3>

@code {

}
